@use "../abstracts" as *;

.container {
	display: none;

	@include respondCustomMin(56.875em) {
		display: block;
	}
}

.header {
	display: flex;
	align-items: center;
	padding: 2rem 2.5rem 2rem 0;
	background-color: #fdfdfd;
	border-bottom: 5px solid #eaeef3;

	h3 {
		font-size: 1rem;
		font-weight: 500;
		color: #626262;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5) {
			flex: 1;
		}

		&:nth-child(3) {
			flex: 0.5;
		}

		&:nth-child(5) {
			text-align: center;
		}
	}
}

.body {
	padding-bottom: 10rem;
}

.item {
	display: flex;
	align-items: center;
	padding: 1.25rem 2.5rem 1.25rem 0;
	border-bottom: 1px solid #eaeef3;

	h4 {
		font-size: 0.9375rem;
		font-weight: normal;
		color: #626262;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(4) {
			flex: 1;
		}

		&:nth-child(3) {
			flex: 0.5;
		}
	}

	> div {
		flex: 1;
	}
}
