@use '../abstracts' as *;

.container {
  padding: 1rem 1rem 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include respondCustomMin(50em) {
    padding: 4.75rem 5rem 5.75rem;
    flex-direction: row;
    align-items: flex-end;
  }
}

.input {

  label {
    display: block;
    color: #5D5D5D;
    padding: 0 1rem .9375rem;
    white-space: nowrap;
  }

  input {
    color: #5D5D5D;
    border-radius: 20rem;
    width: 100%;
    padding: .65rem .75rem;
    border: 1px solid #C5C5C5;
    text-align: center;

    @include respondCustomMin(50em) {
      font-size: 1.125rem;
      width: 28.125rem;
      padding: .8125rem 1rem;
    }

     &:focus {outline: none}
  }
}

.button {
  font-size: 1rem;
  padding: .65rem 2rem;
  white-space: nowrap;
  border-radius: 20rem;
  background-color: $color-primary;
  border: none;
  color: #fff;
  
  transition: 200ms;
  cursor: pointer;

  @include respondCustomMin(50em) {
    padding: .8125rem 2.75rem;
    font-size: 1.125rem;
  }

  &:hover {
    background-color: $color-primary-dark-1;
  }
  &:focus {outline: none}
}

.error {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(226, 71, 76, 0.1);
  color: #E2474B;
  padding: 1.125rem 2.5rem;
  white-space: nowrap;
  border-top-right-radius: .625rem;
  border-top-left-radius: .625rem;
  font-size: .875rem;

  @include respondCustomMin(50em) {
    bottom: -2rem;
    font-size: 1rem;
  }
}