@use '../abstracts' as *;

.label {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #969696;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    display: none;
    width: 9px;
    height: 9px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    outline: 6px solid $color-primary;
  }
}

.radio {
  display: none;

  &:checked + label::before {
    display: inline-block;
  }

  &:checked ~ p {
    color: #393939 !important;
    font-weight: 500;
  }
}